In [28]:
import pandas as pd 
import numpy  as np 
import matplotlib.pyplot as plt

In [29]:
# 多行显示
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## Numpy的向量化运算

### 给定一个正整数列表，请找出缺失的最小正整数

In [7]:
# 构造函数
def get_miss(nums):
    n = len(nums)
    for i in range(n):
        while 1 <= nums[i] <= n and nums[i] != nums[nums[i]-1]:
            # 交换
            nums[nums[i]-1], nums[i] = nums[i], nums[nums[i]-1]

    # 将数组恢复到正确位置后，再次遍历，当某个元素不在正确位置时，就是要找到的第一个缺失的正数
    for i in range(n):
        if nums[i] != i+1:
            return i+1

    return n+1


#  测试
arr = np.array([2, 3, 4])
get_miss(arr)

arr2 = np.array([6, 3, 5, 1, 2])
get_miss(arr2)

arr3 = np.array([5, 2, 1, 3, 4])
get_miss(arr3)

1

4

6

### 设计一个生成二维NumPy数组的函数get_res()，其输入为正整数n，返回的数组构造方式如下：第1行填入1个1，第2行在上一行填入位置的下一列连续填入2个2，第3行在第二行最后一个填入位置的下一列连续填入3个3，…，第n行在第n-1行最后一个填入位置的下一列连续填入n个n。

In [26]:
def get_length(x):
    return int(x*(x+1)/2)

def get_res(n):
    max_length = get_length(n)
    results = np.zeros((n, max_length), dtype=int)
    for i in range(n):
        min_length = get_length(i)
        length = get_length(i+1)
        results[i][min_length:length] = i+1
    return results


get_res(4)

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 2, 2, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 3, 3, 3, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 4, 4, 4, 4]])

## Ex2：统计学生的成绩情况


在data/supplement/ex2目录下存放了某校高三第一学期的学生成绩情况，包含16次周测成绩、期中考试成绩和期末考试成绩，科目一栏的成绩表示学生选课的成绩。所有的表中，相同的行表示的是同一位同学。请完成以下练习：

- 该校高三年级中是否存在姓名相同的学生？

- 在第一次周测中，请求出每个班级选修物理或化学同学的语数英总分的平均值。哪个班级最高？

- 学生在该学期的总评计算方式是各次考试总分的加权平均值，其中周测成绩权重为50%（每次测验权重相等，即3.125%），期中权重为20%，期末权重为30%。请结合nlargest函数找出年级中总评前十的同学。

- 请统计1班到8班文理科（物化生为理科，政史地为文科）期末考试总分前5的学生，结果格式如下，括号内的为选科分数：

In [32]:
df = pd.read_csv('../data/supplement/ex2/第1次周测成绩.csv')
df.head()

   班级   姓名  选科   语文  数学   英语  科目
0   1   吴刚  地理   93  95   82  69
1   1   卢楠  物理  108  77   90  94
2   1  唐秀兰  历史   88  72   95  85
3   1   张刚  化学   85  88  102  76
4   1   姜洋  历史  104  99   84  86

In [35]:
# 1
len(df.drop_duplicates(subset=['姓名'])) == len(df)

True

In [36]:
# True  没有姓名相同的学生

In [38]:
# 2
df.loc[df['选科'].isin(['物理','化学'])].groupby(df['班级'])[['语文','数学','英语']].\
mean().sum(1).sort_values(ascending=False).head()/3

班级
2    93.939394
1    91.575758
6    90.964912
7    90.272727
9    90.023810
dtype: float64

In [39]:
# 3
import os
data_dir = '../data/supplement/ex2'
df_16 = pd.DataFrame(columns=['班级', '姓名', '选科', '语文', '数学', '英语', '科目'])
for file_name in os.listdir(data_dir):
    if file_name == '期中考试成绩.csv':
        df_mid = pd.read_csv(os.path.join(data_dir, file_name)
                         ).set_index('姓名').sort_index()
    elif file_name == '期末考试成绩.csv':
        df_end = pd.read_csv(os.path.join(data_dir, file_name)
                         ).set_index('姓名').sort_index()
    else:
        df_week = pd.read_csv(os.path.join(data_dir, file_name))
df_16 = pd.concat([df_16, df_week], axis=0)
# 16次周测验的总成绩平均值
score_week = df_16.groupby(
    df['姓名'])[['语文', '数学', '英语', '科目']].sum().sum(1).sort_index()/16

In [40]:
score_week

姓名
丁帅     24.0000
丁斌     25.0625
丁燕     24.1250
万云     23.0000
万志强    24.5625
        ...
龙晨     22.8125
龙秀荣    24.6250
龙鑫     25.5000
龙雪梅    26.5625
龚建华    22.8125
Length: 896, dtype: float64

In [42]:
score = df_mid[['语文', '数学', '英语', '科目']].sum(1)*0.2 +\
    df_end[['语文', '数学', '英语', '科目']].sum(1)*0.3+score_week*0.5
score.sort_values(ascending=False).index[:10]

Index(['王想', '孙桂珍', '黄萍', '张欢', '杨博', '钟辉', '鲁瑞', '关斌', '殷志强', '王淑英'], dtype='object', name='姓名')

In [43]:
df8 = df_end.loc[df_end['班级'] < 9].reset_index()  # 选出前8个班的同学
# 根据班级、姓名、文理科分组，计算总分
df8 = df8.groupby([df8['班级'], df8['选科'].isin
                   (['物理', '化学', '生物']), df8['姓名']])[['语文', '数学', '英语', '科目']].sum(1).sum(1)
df8 = pd.DataFrame(df8, columns=['总分']).reset_index()
df8

     班级     选科   姓名   总分
0     1  False  任兰英  351
1     1  False   余峰  367
2     1  False   刘丽  390
3     1  False  刘婷婷  414
4     1  False  刘桂荣  394
..   ..    ...  ...  ...
676   8   True   陈玲  351
677   8   True   高莉  381
678   8   True   黄利  382
679   8   True   黄斌  423
680   8   True   黎想  430

[681 rows x 4 columns]

In [45]:
# 定义组内排序函数
def sort(s):

    return s.sort_values(['总分'], ascending=False)[:5]


# 根据班级、文理科分组排序取前5名
df_top5 = df8.groupby([df8['班级'], df8['选科']])[
    ['姓名', '总分']].agg(sort).reset_index()
del df_top5['level_2']  # 重设索引时多了一列之前的索引，将其去掉
df_top5.head()

/var/folders/8k/j3wdmmpn2_v23sjqdz57r95c0000gn/T/ipykernel_60869/3373012344.py:4: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  return s.sort_values(['总分'], ascending=False)[:5]
/var/folders/8k/j3wdmmpn2_v23sjqdz57r95c0000gn/T/ipykernel_60869/3373012344.py:8: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_top5 = df8.groupby([df8['班级'], df8['选科']])[

   班级     选科   姓名   总分
0   1  False   秦利  435
1   1  False   王雷  415
2   1  False  刘婷婷  414
3   1  False  唐秀兰  411
4   1  False   龙晨  401

In [46]:
df_top5 = df_top5.merge(df_end, on=['姓名', '班级'], how='left')  # 合并之前的表拿到选科和选科成绩
# 更改格式方便后面合并列
df_top5['班级'] = df_top5['班级'].apply(lambda x: str(x)+'班')
df_top5['选科_x'] = df_top5['选科_x'].apply(lambda x: '（理）' if x else '（文）')
df_top5['科目'] = df_top5['科目'].apply(lambda x: '（'+str(x)+'）')
df_top5.eval('班级=班级+选科_x', inplace=True)
df_top5.eval('科目=选科_y+科目', inplace=True)
df_top5 = df_top5[['班级', '姓名', '科目']]
df_top5['姓名'] = df_top5['姓名'].apply(lambda x: str(x)+':')
df_top5.eval('姓名=姓名+科目', inplace=True)
del df_top5['科目']
df_top5  # 到这一步改不了横表了，不会做啊

       班级           姓名
0   1班（文）   秦利:地理（116）
1   1班（文）   王雷:地理（116）
2   1班（文）  刘婷婷:地理（115）
3   1班（文）  唐秀兰:历史（115）
4   1班（文）   龙晨:地理（106）
..    ...          ...
75  8班（理）   王想:物理（115）
76  8班（理）   刘娜:化学（102）
77  8班（理）   黎想:化学（118）
78  8班（理）   严琳:化学（125）
79  8班（理）  张桂香:物理（124）

[80 rows x 2 columns]

In [48]:
# 之前的df_mid和df_end索引都是姓名，连接时要重置索引
df_all = pd.concat([df_16, df_mid.reset_index(),
                   df_end.reset_index()], axis=0).reset_index()
df_all.eval('总分=语文+数学+英语+科目', inplace=True)
# 将index设置为考试的次数，比如第一次、第二次......第18次
# 列表ls是1到18重复896次后展平
ls = np.array([[i]*896 for i in range(1, 19, 1)]).flatten()